@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Default page margins removed */
body {
    margin: 0;
}

/* Styling nav and making it a flex parent with right justified children */
nav {
    background-color: black;
    position: relative; /* So pseudo-elements (red bar in this case) is placed relative to the nav */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-end;
}

/* Placing red bar above nav */
nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: red;
}

/* Styling the anchor tag content to be white, have a small padding, and a smooth transition */
nav a {
    color: white;
    transition: color 0.3s ease;
    padding: 10px 20px;
}

/* Hovering over the nav content will highlight it red */
nav a:hover {
    color: red;
}

/* Changing background color and padding */
.top-half {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 0px 0px 0px;
}

/* Absolute positioning to place UGA logo in bottom right of top section */
.uga-logo {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Absolute positioning to place adder circuit module in middle of top section */
.adder-module {
    position: absolute;
    bottom: 18%;
    left: 52%;
}

/* Absolute positioning to place RAM circuit module in middle of top section */
.RAM-module {
    position: absolute;
    bottom: 18%;
    right: 52%;
}

/* Aligning the text of the top section to the center and making it a black color */
.top-half h1,
.top-half h2 {
    text-align: center;
    color: black;
}

/* Increasing the font size of h1 in top section and giving it a shadow effect to stand out */
.top-half h1 {
    font-size: 80px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 0px 0px 550px 0px;
}

/* Increasing the font size of h2 in top section and giving it some padding */
.top-half h2 {
    font-size: 40px;
    padding: 0px 0px 50px 0px;
}

/* Aligning the h2 and p content for the bottom section in the center of the page */
.bottom-half h2, .bottom-half p {
    text-align: center;
}

/* Increasing the font size of h2 in bottom section */
.bottom-half h2 {
    font-size: 40px;
}

/* Increasing the font size of p in bottom section */
.bottom-half p {
    font-size: 20px;
}

/* Class three-col with display grid. Creates a 3 solumn layout for three child cards */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* Styling the card layout to create a card style */
.three-col .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
    min-height: 575px;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

/* Scale and shadow effect for hovering over cards */
.three-col .card:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

/* Styling images in card to appear appropriately within the card */
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}

/* Styling list of languages */
.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Adding margins between elements in language list */
.card ul li {
    margin: 5px;
}

/* Styling list of years experience, along with skills and emojis */
.card dl {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adding margins between elements in leadership and experience and skills */
.card dl dt, .card dl dd {
    margin: 5px;
}

/* Styling footer */
footer {
    background-color: black;
    position: relative; /* So pseudo-elements (red bar in this case) is placed relative to the footer */
    display: flex;
    justify-content: center;
}

/* Placing a red bar above the footer */
footer::before {
    content: '';
    position: absolute;
    top: 0; /* Put the bar before the footer */
    left: 0;
    width: 100%;
    height: 5px;
    background-color: red;
}

/* Styling the anchor tag content to be white and to have a smooth transition */
footer a {
    color: white;
    transition: color 0.3s ease;
}

/* Hovering over the footer content will highlight it red and underline it */
footer a:hover {
    color: red;
}

/* Setting color and removing underline for anchor text of links */
a { 
    color: black;
    text-decoration: none;
}

/* Style hover state of links top be different color */
a:hover {
    color: red; 
}

/* Applying a font to all h1 content */
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

/* Applying a font to all h2, h3, and p content */
h2, h3, p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Customizing horizontal rule */
hr {
    height: 2px;
    background-color: red;
    border: none;
    border-top: 1px solid red;      
    margin: 60px 0;   
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.8);    
}

/* Contact.html */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Styling the contact card */
.one-col .card {
    margin: 20px 30px 109px 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 400px;
    height: 400px;
}

/* Styling boxes */
.card form input, .card form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}